<div class="container">
    <div class="description">
        <div class="politics mt-5">
            <h1 class="h1">POLÍTICAS</h1>
            <P>Políticas de privacidad</P>
            <P>Políticas de cambio</P>
            <P>Políticas de envío</P>
            <P>Términos y condiciones</P>
            <P>Responsabilidad social</P>
        </div>
        <div class="nosotros mt-5">
            <h1 class="h1">SOBRE NOSOTROS</h1>
            <p>Encuentra tu tienda</p>
            <p>Contáctanos</p>
            <p>Trabaja con nosotros</p>
        </div>
        <div class="social-media mt-5">
            <h1 class="h1">SÍGUENOS EN:</h1>
            <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© Copyright Colombia. Todos los derechos reservados</p>
    </div>
</div>